.defaultButton {
    display: inline-block;
    border: none;
    padding: 1rem 2rem;
    padding: 1.7rem 2rem;
    margin: 1rem;
    text-decoration: none;
    background: rgba(249, 235, 195, 1);
    color: rgb(102, 80, 80);
    font-size: 1.3rem;
    font-weight: bolder;
    line-height: 1;
    border-radius: 4px;
    cursor: pointer;
    max-height: 40px;
    text-align: center;
    display: flex;
    align-items: center;
    transition: background 250ms ease-in-out, transform 150ms ease;
    &:hover {
        background: rgba(243, 205, 96, 1);
    }
}

.linkButton {
    @extend .defaultButton;
    padding: 1rem 2rem;
}


.submitButton {
    @extend .defaultButton;
    max-height: 35px;
}

.strongBlueButton {
    @extend .defaultButton;
    background: rgba(249, 235, 195, 1);
    max-height: 45px;
    height: 45px;
    padding: 0.5rem 1rem;
    font-weight: bold;
    border-radius: 7px;
    box-shadow: 6px 8px 10px 1px rgba(0, 0, 0, 0.5);

}

.arrowDownContainer {
    @extend .defaultButton;
    width: 50px;
    max-height: 50px;
    height: 50px;
    padding: 0;
    display: flex;
    border-radius: 50px;
    justify-content: center;
    background: rgba(249, 235, 195, 0.5);
    margin: 0;
    .arrowDown {
        border: solid black;
        border-width: 0 3px 3px 0;
        display: inline-block;
        padding: 3px;
        transform: rotate(45deg);
    }
}

.menuLinkButton {
    @extend .linkButton;
    padding: 0.5rem 1.1rem;
    font-size: 0.9rem;
}