.articleItemContainer {
    display: flex;
    align-items: center;
    background: rgba(249, 235, 195, 0.5);
    min-height: 40vh;
    margin-bottom: 20px;
    .articleContent {
        text-align:justify;
        padding: 20px;
        width: 45vw;
        font-size: 1.2rem;
        h3 {
            font-size: 2rem;
        }
    }
    
    .articleImage {
        width: 45vw;
        max-height: 40vh;
    }
}

@media only screen and (max-width: 700px) {
    .articleItemContainer {
        flex-direction: column;
        .articleContent {
            text-align:justify;
            width: 90vw;
    
        }
        
        .articleImage {
            width: 90vw;
            max-height: 40vh;
        }
    }
}