.articleItemContainer {
    display: flex;
    align-items: center;
    background: rgba(249, 235, 195, 0.5);
    margin-bottom: 20px;
   
    .articleContent {
        text-align:justify;
        padding: 20px;
        width: 45vw;
        font-size: 1.2rem;
        h3 {
            text-align: start;
            font-size: 2rem;
        }
    }

    .fullArticleContent {
        @extend.articleContent;
        width: 90vw;
    }
    
    .articleImage {
        width: 45vw;
        max-height: 40vh;
        object-fit: contain;
    }
}

@media only screen and (max-width: 700px) {
    .articleItemContainer {
        flex-direction: column;
        .articleContent {
            text-align:justify;
            width: 90vw;
    
        }
        
        .articleImage {
            width: 90vw;
            max-height: 40vh;
        }
    }
}

.customArticleItemContainer {
    @extend .articleItemContainer;
    min-height: 10vh;
    margin-bottom: 10px;
}