.mainImageContainer {
    position: relative;
    height: 90vh;
    .mainImage {
        width: 100vw;
        height: 100%;
        object-fit: fill;
    }
    
    .mainImageButtonContainer {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute; 
        left: 0; 
        right: 0; 
        bottom: 5%;
    }

    
    .mainImageHeaderContainer {
        position: absolute; 
        color: #4a3641;
        left: 0; 
        right: 0; 
        top: 15%;
        font-family: "Nova Flat";
        margin-inline: auto; 
        width: 100%;
        h2 {
            text-shadow: 3px 1px rgba(249, 235, 195, 0.8)
        }
        padding: 10px 0;
        background-color: rgba(249, 235, 195, 0.15)
       
    }
    

}

