.models-container {
    border-top:solid rgb(249, 235, 195) 4px;
    
    .single-model {
        z-index: 150;
        position: relative;
        background-size: 100vw 100vh;
        width: 100vw;
        height: 100vh;
        &::after {
            content: '';
            width: 50px;
            height: 50px;
            position: absolute;
            bottom:3%;
            left: 3%;
            border-bottom:solid rgb(249, 235, 195) 5px;
            border-left:solid rgb(249, 235, 195) 5px;
        }


        &::before{
            content: '';
            width: 50px;
            height: 50px;
            position: absolute;
            top:3%;
            right: 3%;
            border-top:solid rgb(249, 235, 195) 5px;
            border-right:solid rgb(249, 235, 195) 5px;
        }

        .next-button {
            position: absolute;
            bottom: 5%;
            right: 5%;
        }

        .info {
            position: absolute;
            border-radius: 10px;
            left: 0;
            right: 0;
            top: 5%;
            margin-inline: auto;
            background-color: #4a3641c4;
            letter-spacing: 9px;
            width: 50%;
            color: rgba(249, 235, 195, 0.86);

            h2 {
                margin: 10px;
                font-family: "Nova Flat";
            }

            h4 {
                letter-spacing: normal;
                font-size: 1.2rem;
            }
        }

        .button {
            position: absolute;
            left: 0;
            right: 0;
            bottom: 10%;
            margin-inline: auto;
            width: 100%;
            display: flex;
            justify-content: center;
        }
    }
}

.nunu {
    animation: nunu_desktop_animation 15s infinite alternate;
    @keyframes nunu_desktop_animation {
        0% {
            background-image: url("/img/truck/nunu_desktop/1.jpg");
        }

        25% {
            background-image: url("/img/truck/nunu_desktop/2.jpg");
        }

        50%{
            background-image: url("/img/truck/nunu_desktop/3.jpg");
        }

        75% {
            background-image: url("/img/truck/nunu_desktop/4.jpg");
        }
        100% {
            background-image: url("/img/truck/nunu_desktop/1.jpg");
        }
    }
}
.explorer {
    animation: explorer_desktop_animation 10s infinite alternate;
    @keyframes explorer_desktop_animation {
        0% {
            background-image: url("/img/truck/explorer_desktop/1.jpg");
        }

        33% {
            background-image: url("/img/truck/explorer_desktop/2.jpg");
        }

        66%{
            background-image: url("/img/truck/explorer_desktop/3.jpg");
        }

        100% {
            background-image: url("/img/truck/explorer_desktop/1.jpg");
        }
    }
}
.odyssey {
    animation: odyssey_desktop_animation 10s infinite alternate;
    @keyframes odyssey_desktop_animation {
        0% {
            background-image: url("/img/truck/odyssey_desktop/1.jpg");
        }

        33% {
            background-image: url("/img/truck/odyssey_desktop/2.jpg");
        }

        66%{
            background-image: url("/img/truck/odyssey_desktop/3.jpg");
        }

        100% {
            background-image: url("/img/truck/odyssey_desktop/1.jpg");
        }
    }
}
.rocket {
    animation: rocket_desktop_animation 10s infinite alternate;
    @keyframes rocket_desktop_animation {
        0% {
            background-image: url("/img/truck/rocket_desktop/1.jpg");
        }

        33% {
            background-image: url("/img/truck/rocket_desktop/2.jpg");
        }

        66%{
            background-image: url("/img/truck/rocket_desktop/3.jpg");
        }

        100% {
            background-image: url("/img/truck/rocket_desktop/1.jpg");
        }
    }
}
.house {
    background-image: url("/img/house/desktop.jpg");
}

@media only screen and (max-width: 550px) {
    .info {
        width: 80% !important;
    }

    .house {
        background-image: url("/img/house/mobile.jpg");
    }

    .nunu {
        animation: nunu_mobile_animation 15s infinite alternate;
        @keyframes nunu_mobile_animation {
        0% {
            background-image: url("/img/truck/nunu_mobile/1.jpg");
        }

        25% {
            background-image: url("/img/truck/nunu_mobile/2.jpg");
        }

        50%{
            background-image: url("/img/truck/nunu_mobile/3.jpg");
        }

        75% {
            background-image: url("/img/truck/nunu_mobile/4.jpg");
        }
        100% {
            background-image: url("/img/truck/nunu_mobile/1.jpg");
        }
        }
    }
    .explorer {
        animation: explorer_mobile_animation 8s infinite alternate;
        @keyframes explorer_mobile_animation {
        0% {
            background-image: url("/img/truck/explorer_mobile/1.jpg");
        }
    
        50% {
            background-image: url("/img/truck/explorer_mobile/2.jpg");
        }
    
        100%{
            background-image: url("/img/truck/explorer_mobile/1.jpg");
        }
        }
    }
    .odyssey {
        animation: odyssey_mobile_animation 8s infinite alternate;
        @keyframes odyssey_mobile_animation {
            0% {
                background-image: url("/img/truck/odyssey_mobile/1.jpg");
            }
    
            50% {
                background-image: url("/img/truck/odyssey_mobile/2.jpg");
            }
    
            100%{
                background-image: url("/img/truck/odyssey_mobile/1.jpg");
            }
    
        }
    }
    .rocket {
        animation: rocket_mobile_animation 15s infinite alternate;
        @keyframes rocket_mobile_animation {
            0% {
                background-image: url("/img/truck/rocket_mobile/1.jpg");
            }
    
            25% {
                background-image: url("/img/truck/rocket_mobile/2.jpg");
            }
    
            50%{
                background-image: url("/img/truck/rocket_mobile/3.jpg");
            }
    
            75% {
                background-image: url("/img/truck/rocket_mobile/4.jpg");
            }
            100% {
                background-image: url("/img/truck/rocket_mobile/1.jpg");
            }
        }
    }

    .next-button {
        position: absolute;
        bottom: 5%;
        right: 50%;
        left: 50%;
    }

    .info {
        padding: 15px;
        h4 {
            font-size: 1rem !important;
        }
    }
}