.app {
  text-align: center;
  position: relative;
  display: flex;
  background-image: url("/img/main.jpeg");
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  main {
    height: 100vh;
  }
}


.App-link {
  color: #61dafb;
}