.app {
  overflow-x: hidden;
  text-align: center;
  position: relative;
  display: flex;
  background-size: 100% 100%;
  background-image: url("/img/main.png");
  flex-direction: column;
  background-position: center;
  background-attachment: fixed;
  font-size: calc(10px + 2vmin);
  main {
    min-height: 94vh;
    height: 100%;
  }
}

@media only screen and (max-width: 820px) {
  .app   {
    background-image: url("/img/main_mobile.png");
  }
}