.simple-contact-container {
    width: 100%;
    .contact-wrapper {
        width: 100%;
        padding: 0;
        padding-top: 20px;
        padding-bottom: 5px;
    }
}

.contact-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
}

.contact-result-base {
    &::before {
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: "Nova Flat";
        font-size: 1.5rem;
        background: rgba(249, 235, 195, 0.86);
        border-radius: 5px;
        color: rgb(102, 80, 80);
        opacity: 100%;
        position: absolute;
        text-wrap: wrap;
        animation: fade-out 1s ease-out;
        animation-fill-mode: forwards;
        animation-delay: 2s;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 2;
    }
}

.contact-success {
    @extend .contact-result-base;
    &::before {
        content: "Wiadomość została wysłana !";
    }
}

.contact-error {
    @extend .contact-result-base;
    &::before {
        content: "Wiadomość NIE została wysłana !";
        background: rgba(102, 80, 80, 0.9);
        color: rgb(249, 235, 195);
    }
}


.contact-loader {
    &::before {
        display: flex;
        justify-content: center;
        align-items: flex-end;
        font-family: "Nova Flat";
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        font-size: 1.1rem;
        background: rgba(249, 235, 195, 0.86);
        border-radius: 5px;
        color: rgb(102, 80, 80);
        padding-bottom: 20px;
        position: absolute;
        content: "Wysyłamy Twoją wiadomość...";
        z-index: 100;
    }
    &::after {
        position: absolute;
        content: "";
        border: 16px solid #f3f3f3; 
        border-top: 16px solid rgb(102, 80, 80); 
        border-radius: 50%;
        width: 120px;
        height: 120px;
        animation: spin 2s linear infinite;
        opacity: 100%;
    }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

@keyframes fade-out {
    0% { opacity: 100%; }
    70% { 
        opacity: 0%;
    }
    100% {
        z-index: -1;
    }
}



.contact-wrapper-size {
    min-width: 350px;
    min-height: 500px;
}

.contact-wrapper {
    margin-left:auto;
    margin-right:auto;
    padding: 30px;
    margin-top: 5vh;
    font-family: 'Source Sans Pro', sans-serif;
    color:#fff;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: 5px;
    background-clip: padding-box;
    background: rgba(0, 0, 0, 0.5); 
    overflow: hidden; 
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    .regulation-note {
        font-size: 0.9rem;
    }
    position: relative;
    
}

.textarea-wrapper{
    width: 276px;
    height: 110px;
    border: 1px solid rgba(255,255,255,.6);
    border-radius: 4px;
    background-clip: padding-box; 
    display:block;
    font-family: 'Source Sans Pro', sans-serif;
    font-size:18px;
    color:#000000;
    padding-left:45px;
    padding-right:20px;
    padding-top:12px;
    margin-bottom:20px;
    overflow:hidden;
}

.input-wrapper {
    width: 276px;
    height: 41px;
    border: 1px solid rgba(255,255,255,.4);
    border-radius: 4px;
    background-clip: padding-box; 
    display:block;
    font-family: 'Source Sans Pro', sans-serif;
    font-size:18px;
    color:#000000;
    padding-left:45px;
    padding-right:20px;
    margin-bottom:20px;
}





