.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-wrapper {
    margin-left:auto;
    margin-right:auto;
    padding:30px;
    font-family: 'Source Sans Pro', sans-serif;
    color:#fff;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: 5px;
    background-clip: padding-box;
    background: rgba(0, 0, 0, 0.2); 
    overflow: hidden; 
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.textarea-wrapper{
    width: 276px;
    height: 110px;
    border: 1px solid rgba(255,255,255,.6);
    border-radius: 4px;
    background-clip: padding-box; 
    display:block;
    font-family: 'Source Sans Pro', sans-serif;
    font-size:18px;
    color:#000000;
    padding-left:45px;
    padding-right:20px;
    padding-top:12px;
    margin-bottom:20px;
    overflow:hidden;
}

.input-wrapper {
    width: 276px;
    height: 41px;
    border: 1px solid rgba(255,255,255,.4);
    border-radius: 4px;
    background-clip: padding-box; 
    display:block;
    font-family: 'Source Sans Pro', sans-serif;
    font-size:18px;
    color:#000000;
    padding-left:45px;
    padding-right:20px;
    margin-bottom:20px;
}





