.appHeader {
    display: flex;
    align-items: center;
    font-family: "Nova Flat";
    z-index: 100;
    width: 92vw;
    height: 10vh;
    padding: 0 2rem;
    .headerLink {
        border: none;
        text-decoration: none;
        h1 {
            margin: 0;
            margin-right: 3rem;
            font-size: 2rem;
            color: rgba(249, 235, 195, 0.86);
            letter-spacing: 0.4vw;
            text-shadow: 3px 2px rgba(243, 205, 96, 0.6);
            -webkit-text-stroke: rgba(249, 235, 195, 0.86);
            letter-spacing: 0.4vw;
        }
    }
}