@media only screen and (max-width: 750px) {
    .header-full-screen-buttons {
        display: none !important;
    }

    .header-menu-button {
        display: block !important;
    }

    .app-header {
        justify-content: space-between;
        padding: 0 !important;
    }
}

.app-header {
    display: flex;
    align-items: center;
    font-family: "Nova Flat";
    justify-content: space-between;
    z-index: 100;
    width: 100%;
    height: 6h;
    background: linear-gradient(180deg, rgba(74, 54, 65, 0.768627451), rgba(74, 54, 65, 0.768627451) 85%, rgba(74, 54, 65, 0) 99%);
    .header-full-screen-buttons {
        display: flex;
    }
    .header-menu-button {
        display: none;
        button {
            padding: 0.7rem 1.2rem;
            font-size: 1rem;
        }
    }
    .header-link {
        border: none;
        text-decoration: none;
        .logo-image {
            width: 300px;
        }
    }
}

