.configurator-wrapper {
    position: relative;
    height: 94vh;
    width: 100vw;
    display: flex;
    flex-flow: row nowrap;
    background-image: linear-gradient(to bottom, rgba(255,255,255, 0) 0%, rgb(255,255, 255) 5%);    
    align-items: flex-start;
    overflow-y: hidden;
    overflow-x: hidden;

    .model-image {
        border-radius: 20px;
        width: 65vw;
        height: 90%;
        margin: 5% 0;
        object-fit: fill;
        border: 2px solid rgb(249, 235, 195);
    }

    .basic-config {
        overflow-y: scroll;
        width: 35vw;
        height: 78vh;
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        .config-divider {
            margin-top: 15px;
            font-size: 1rem;
            text-transform: uppercase;
            margin-bottom: 10px;
            border-top: 1px black solid;
            width: 70%;
            padding: 20px;
        }

        .config-item-container {
            height: 50px;
            min-width: 80%;
            margin-bottom: 15px;
            .config-item {
                padding:5px 15px;
                width: 100%;
                font-weight: bold;
                font-size: 0.9rem;
                align-items: center;
                border-radius: 5px;
                border: solid 1px #d0d1d2;
                inline-size: auto;
                justify-content: space-between;
                display: flex;
            }
        }
    }
}

@media only screen and (max-width: 900px) {
    .model-image  {
        width: 60vw !important;
    }
    .basic-config {
        width: 40vw !important;
    }
}

@media only screen and (max-width: 750px) {
    .configurator-wrapper {
        flex-direction: column;
        align-items: center;
        .model-image  {
            width: 96vw !important;
            height: 30vh;
            margin: 2% 0;
        }
        .basic-config {
            width: 100vw !important;
            margin-bottom: 12vh;
        }
    }
}