.configurator-wrapper {
    position: relative;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-flow: row nowrap;
    background-color: #FFF;
    align-items: center;

    .model-image {
        width:70vw;
        object-fit: contain;
    }

    .basic-config {
        width: 30vw;
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        .config-item {
            padding: 7px 15px;
            min-width: 80%;
            margin-bottom: 15px;
            font-weight: bold;
            font-size: 0.9rem;
            align-items: center;
            block-size: auto;
            border-radius: 5px;
            border: solid 1px #d0d1d2;
            inline-size: auto;
            justify-content: space-between;
            display: flex;
        }
    }
}