.configurator-wrapper {
    position: relative;
    height: 90vh;
    width: 100vw;
    display: flex;
    flex-flow: row nowrap;
    background-image: linear-gradient(to bottom, rgba(255,255,255, 0) 0%, rgb(255,255, 255) 5%);    
    align-items: center;
    overflow-y: hidden;

    .model-image {
        border-radius: 20px;
        width: 65vw;
        height: 80vh;
        object-fit: fill;
        border: 2px solid rgb(249, 235, 195);
    }

    .basic-config {
        overflow-y: scroll;
        width: 35vw;
        height: 90%;
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        .config-divider {
            font-size: 1rem;
            text-transform: uppercase;
            margin-bottom: 10px;
            border-top: 1px black solid;
            width: 70%;
            padding: 20px;
        }

        .config-item-container {
            height: 50px;
            min-width: 80%;
            margin-bottom: 15px;
            .config-item {
                padding:5px 15px;
                width: 100%;
                font-weight: bold;
                font-size: 0.9rem;
                align-items: center;
                border-radius: 5px;
                border: solid 1px #d0d1d2;
                inline-size: auto;
                justify-content: space-between;
                display: flex;
            }
        }
    }
}