@import "./configurator.scss";

.input-number {
    width: 40px;
    padding: 0 12px;
    vertical-align: top;
    text-align: center;
    outline: none;
    height: 40px;
    border: none;
    opacity: 1;
    font-size: 0.9rem;
    font-weight: bold;

    &::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    &::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
}

.input-disabled {
    opacity: 0;
}

.input-number-modificator {
    border: none;
    height: 40px;
    margin: 2px;
    display: inline-block;
    width: 30px;
    line-height: 38px;
    background: #f1f1f1;
    color: #444;
    text-align: center;
    font-weight: bold;
    cursor: pointer;

    &:active {
        background: #ddd;
    }
}

.box-checkbox {
    height: 45px;
    
    &:hover {
        background-color: #ccc;
    }

    .disable-input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
    }


    &.checked-checkbox {
        border: rgb(121, 119, 119) solid 2px !important;
        background-color: rgb(230, 230, 230);
    }
}

.water-wrapper {
    &:hover {
        background-color: #86c5ff;
    }

    &.checked-checkbox {
        border: #43a3fd solid 2px !important;
        background-color: #75b3ec;
    }
}

.electricity-wrapper {
    &:hover {
        background-color: #f5ff9e;
    }

    &.checked-checkbox {
        border: #d9ec26 solid 2px !important;
        background-color: #effd6f;
    }
}

.color-wrapper {
    &:hover {
        background-color: #f7c37f;
    }

    &.checked-checkbox {
        border: #ee941e solid 2px !important;
        background-color: #f7b055;
    }
}

.additionalweightsupport-wrapper {
    &:hover {
        background-color: #9494b8;
    }

    &.checked-checkbox {
        border: #666699 solid 2px !important;
        background-color: #9494b8;;
    }
}
