.price-indicator-wrapper {
    position: absolute;
    padding: 5px 1vw;
    line-height: 25px;
    bottom: 0;
    right: 33vw;
    width: 20vw;
    display: flex;
    align-items: center;
    flex-direction: column;
    z-index: 100;
    font-size: 0.8rem !important;
    background: white;
    .price {
        font-weight: bold;
    }
}