.modelsContainer {
    .singleModel {
        position: relative;
        width: 100%;

        .image {
            width: 100vw;
            height: 100%;
            object-fit: fill;
        }

        .info {
            position: absolute;
            left: 0;
            right: 0;
            top: 5%;
            margin-inline: auto;
            background-color: #4a3641c4;
            letter-spacing: 9px;
            width: 100%;
            color: rgba(249, 235, 195, 0.86);

            h2 {
                margin: 10px;
                font-family: "Nova Flat";
            }
        }

        .button {
            position: absolute;
            left: 0;
            right: 0;
            bottom: 10%;
            margin-inline: auto;
            width: 100%;
            display: flex;
            justify-content: center;
        }
    }
}